@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var arrangements = ViewBag.arrangements;
}
<div >@ViewBag.SuccessMessage</div>
<div class="row">

    @foreach (var arrangement in arrangements)
    {
        <div class="col-md-4">
            <form asp-action="Edit">
                <h2 class="text-capitalize">
                    @arrangement.Name
                </h2>
                <label for="price" class="d-block mt-2 mb-3">Prijs:</label>
                <input type="text" value="@arrangement.Price" name="price">
                <input type="hidden" value="@arrangement.Id" name="id">
                <input type="submit" class="btn btn-primary" value="aanpassen">
            </form>
        </div>
    }
</div>