﻿@page
@model IndexModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-4">
                <input asp-for="Username" class="bg-gray text-dark"  disabled />
                <label asp-for="Username">Gebruikersnaam</label>
            </div>
            <div class="mb-4">
                <input asp-for="Input.PhoneNumber" class="bg-white text-dark"  />
                <label asp-for="Input.PhoneNumber">Telefoonnummer</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
