html {
  font-size: 14px;
  color:ghostwhite !important;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        color: ghostwhite;
    }
}

html {
    position: relative;
    min-height: 100%;
    color: ghostwhite;
}

body {
    margin-bottom: 60px;
    background-image: url(../imagesStyling/background.jpg);
    background-size: cover;
    color:ghostwhite;
}

.card.show h5{
  min-height:4rem;
}
.paycard_img{
  height: 14rem;
}

a {
    color:ghostwhite !important;
}

.logo {
    width: 75px !important;
    height: 56px !important;
}

footer{
    max-height:100px;
}

.footer-container{
    margin-bottom:0;
}

h1{
    color:ghostwhite;
}

/*googlemap*/

#dvMap {
    height: 40vh;
    width: 31.6vw;
}

.adp-summary {
    color: ghostwhite;
}

.adp-substep {
    color: ghostwhite;
}

.adp-stepicon {
    background: ghostwhite;
}

.button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button4 {
    border-radius: 9px;
}

.warnbox-content {
    display: none;
}

.warnbox-c1 {
    display: none;
}

.warnbox-c2 {
    display: none;
}

input[type=text],input[type=tel],input[type=password],input[type=email], select {
    width: 70%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}  


.filter-accordion{
    border-radius:5px;
}
footer.fixed-bottom{
    background-color: black;
}