﻿@model IEnumerable<cinema.Models.Ticket>

@inject UserManager<CinemaIdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "../Shared/_Layout";
}


<div class="container">
    <h3 class="h1 my-4">Bedankt voor je reservering!</h3>
    <div class="row my-5">
        <p> Je kan de kaartjes hieronder terugvinden.</p>
        <div class="mx-3 w-100 alert alert-warning">
            <strong>Vergeet niet de kaartjes af te drukken, ongeacht of ze je nu direct betaald, of pas in de bioscoop</strong>

        </div>
        <button class="print btn btn-secondary mx-3 w-100">
            <strong>Print de tickets</strong>
        </button>
        <form method="get" class="m-3 w-100 px-0">
            <button class="print btn btn-secondary w-100" asp-controller="Tickets" asp-action="SeatSelection">Stoelkeuze</button>
            <input type="hidden" value="@ViewBag.OrderId" name="orderId">
        </form>

    </div>
    @if (!ViewBag.IsPayed)
    {

        <div class="row my-5">

            <div class="col-md-4">

                <div class="card h-100 text-white">
                    <div class="card-header">

                        <h2 class="card-title text-black text-center ">Betaal direct</h2>
                    </div>
                    <img class="card-img paycard_img" src="/images/digital_payment.jpg" alt="Pin betalen">
                    <div class="card-body">
                        <ul class=" text-dark">
                            <li>
                                Je kaartjes zijn gereserveerd
                            </li>
                            <li>
                                Je kaartjes zijn <strong>wel</strong> betaald; je kan direct doorlopen
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <form asp-controller="Payment" asp-action="CreateCheckoutSession" method="POST">
                            <input type="hidden" name="orderid" value="@ViewBag.OrderId">
                            <div class="form-group">
                                <input type="submit" value="Betalen" class="btn btn-primary"/>
                            </div>
                        </form>

                    </div>


                </div>
            </div>
            <div class="col-md-4">

                <div class="card h-100 text-white">
                    <div class="card-header">
                        <h2 class="card-title text-black text-center">Pinbetaling in bios</h2>
                    </div>
                    <img class="card-img paycard_img" src="/images/analog_payment.jpg" alt="Pin betalen">

                    <div class="card-body">
                        <ul class=" text-dark">
                            <li>
                                Je kaartjes zijn gereserveerd
                            </li>
                            <li>
                                Je kaartjes zijn <strong>niet</strong> betaald; daarvoor moet je nog langs de kassa
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    }


    <div class="row tickets">
        @foreach (var item in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card ticket">
                    <div class="card-body text-black">
                        <h4 class="card-title">@item.show.Movie.Name</h4>

                        @if (item.Arrangements == Arrangements.normale)
                        {
                            <h5>Regulier kaartje</h5>
                        }
                        else
                        {
                            <h5>@item.Arrangements kaartje</h5>
                        }
                        <img src="@item.show.Movie.Poster" style="max-height: 600px;" alt="@item.show.Movie.Name" class="card-img-top">
                        <br><br>
                        <p class="card-text">Zaal: @item.show.Room</p>
                        <p class="card-text">Datum: @item.show.StartTime</p>
                        @if (@item.show.Break)
                        {
                            <p class="card-text">Pauze: Ja </p>
                        }
                        else
                        {
                            <p class="card-text">Pauze: Nee </p>
                        }
                        <hr>
                        <h5>Stoelen</h5>
                        <p class="card-text">Rij: @item.SeatRow</p>
                        <p class="card-text">Nummer: @item.SeatNr</p>
                        <hr>
                        <h4 class="card-text">Code: @item.Code</h4>
                        @if (ViewBag.IsPayed)
                        {
                            
                            <div class="alert alert-success">Betaald</div>
                        }
                        <hr>
                        @if (User.IsInRole("Kassamedewerker") || User.IsInRole("Beheerder") ||User.IsInRole("Back office Manager") || User.IsInRole("Manager"))
                        {
                            <p>
                                Medewerker: <strong>@UserManager.GetUserName(User)</strong>
                            </p>
                        }
                        else
                        {
                            <p>Kaartje is online gekocht</p>
                        }

                      
                    </div>
                </div>
            </div>
        }

        <script >
        
        
        var tickets = document.querySelector('.tickets');
        document.querySelector('.print').addEventListener('click', function (){
                             var WinPrint = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');
                                           WinPrint.document.write(tickets.innerHTML);
                                           WinPrint.document.close();
                                           WinPrint.focus();
                                           WinPrint.print();
                        })
                      
            document.querySelectorAll('.ticket').forEach(function (value, key, parent){
                value.addEventListener('click', function (){
                     var WinPrint = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');
                                   WinPrint.document.write(value.innerHTML);
                                   WinPrint.document.close();
                                   WinPrint.focus();
                                   WinPrint.print();
                                   // WinPrint.close();
                })
              
            });
        </script>
    </div>
</div>