﻿@page
@model LoginModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="col-md-6">
        <section>
            <form id="account" method="post">
                <h1>Login met uw Pate account</h1>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class=" mb-4">
                    <label asp-for="Input.UserName">Gebruikersnaam</label>
                    <input asp-for="Input.UserName" class="w-100" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="Input.Password" >Wachtwoord</label>
                    <input asp-for="Input.Password" class="w-100"  autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 mb-4 btn btn-lg btn-primary">Log in</button>
                </div>
                <div class="mb-4">
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registeer als een nieuwe gebruiker</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
