﻿@page
@model RegisterModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Register";
}

<div class="row">
    <div class="col-md-6">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h1>Maak nu uw nieuwe account aan.</h1>
            <hr/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-4">
                <label asp-for="Input.UserName" class="d-block">Gebruikersnaam</label>
                <input asp-for="Input.UserName" autocomplete="username" aria-required="true"/>
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="mb-4">
                <label asp-for="Input.Password" class="d-block">Wachtwoord</label>
                <input asp-for="Input.Password" autocomplete="new-password" aria-required="true"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="mb-4">
                <label asp-for="Input.ConfirmPassword" class="d-block">Wachtwoord nogmaals</label>
                <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="btn btn-lg btn-primary">Registeren</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}