@using cinema.Models
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div>
            <h3>@ViewBag.VoucherType.name</h3>
            <p>@ViewBag.VoucherType.description</p>
            <i>Prijs per stuk: @ViewBag.VoucherType.price</i>
            
            <form asp-action="Overview" method="GET" class="mt-5">
                <input type="hidden" name="voucherId" value="@ViewBag.VoucherType.Id">
                <select name="quantity" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
                <input type="submit" value="Volgende stap" class="btn-primary btn btn-lg mt-3">
            </form>
        </div>
    </div>
</div>