@using cinema.Models
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var voucherTypes = ViewBag.VoucherTypes;
}

<div class="row">
      @foreach(var voucherType in voucherTypes)
    {
        <div class="col-md-4">
          <div class="card text-dark p-4 border-1 border-dark" >
              <h3 >@voucherType.name</h3>
              <p>@voucherType.description</p>
              <h4 class="mb-4">Prijs: @voucherType.price euro</h4>
              <a asp-action="Create" asp-route-id="@voucherType.Id" class="btn btn-success btn-lg">Verder met bestellen</a>
          </div>
        </div>
    }
      

</div>