@using cinema.Models
@model dynamic

@inject UserManager<CinemaIdentityUser> UserManager


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div>
            <h3>@ViewBag.VoucherType.name</h3>
            <p>@ViewBag.VoucherType.description</p>
            <i>Prijs per stuk: @ViewBag.VoucherType.price euro</i>
            
            <p>Aantal stuks: @ViewBag.Quantity</p>
            <div>Totale prijs <strong>@ViewBag.TotalPrice euro</strong></div>
            <p>Door gebruiker: @User.Identity.Name</p>
            <form asp-action="Buy" method="Post" class="mt-5">
                <input type="hidden" name="voucherTypeId" value="@ViewBag.VoucherType.Id">
                <input type="hidden" name="quantity" value="@ViewBag.Quantity">
                <input type="hidden" name="user" value="@User.Identity.Name">
                <input type="submit" value="Kopen" class="btn-success btn btn-lg mt-3">
            </form>
        </div>
    </div>
</div>