@using cinema.Models
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var vouchers = ViewBag.Vouchers;
}
<h1 class="mb-5">Mijn aangekochte vouchers</h1>
<hr>

<div class="row">

    @foreach (var voucher in vouchers)
    {
        <div class="col-md-4 voucher">
            <div class="card text-dark p-4 border-1 border-dark">
                <h4>@voucher.VoucherType.name</h4>
                <p>@voucher.VoucherType.description</p>
                <div><strong>Gekocht door: @User.Identity.Name</strong></div>
                @if (voucher.VoucherType.name == "1 bioscoopbon")
                {
                    string? qrcode = "/images/" + voucher.VoucherType.Id.ToString() + voucher.code.ToString() + ".png";
                    <img src="@qrcode" alt="@voucher.VoucherType.Id" class="img-responsive" style="width: 100px; margin: 10px;"/>
                }
                else if (voucher.VoucherType.name == "MaDiWoDo")
                {
                    for (int i = 0; i < 4; i++)
                    {
                        string? qrcode = "/images/" + voucher.VoucherType.Id.ToString() + voucher.code.ToString() + i.ToString() + ".png";
                        <img src="@qrcode" alt="@voucher.VoucherType.Id" class="img-responsive" style="width: 100px; margin: 10px;"/>
                    }
                }
                else if (voucher.VoucherType.name == "10 rittenkaart")
                {
                    for (int i = 0; i < 10; i++)
                    {
                        string? qrcode = "/images/" + voucher.VoucherType.Id.ToString() + voucher.code.ToString() + i.ToString() + ".png";
                        <img src="@qrcode" alt="@voucher.VoucherType.Id" class="img-responsive" style="width: 100px; margin: 10px;"/>
                    }
                }
                
            </div>
        </div>
    }


</div>

<script >
        document.querySelectorAll('.voucher').forEach(function (value, key, parent){
                value.addEventListener('click', function (){
                     var WinPrint = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');
                                   WinPrint.document.write(value.innerHTML);
                                   WinPrint.document.close();
                                   WinPrint.focus();
                                   WinPrint.print();
                                   // WinPrint.close();
                })
              
            });
</script>